@import url('https://fonts.googleapis.com/css2?family=Murecho&display=swap');

:root{
    --brown: #8B635C;
    --green: #3A7D44;
    --dark: #1E2019;
    --marine: #304B66;
    --light: #FDFFFC;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Murecho', sans-serif;

}

.current {
    color: #46af56  !important;
    font-weight: 900 !important;
    text-shadow: 1px 1px 1px var(--green) !important;
    box-sizing: content-box;
}

/* width: clamp(min, preffered, max); */
p {
    max-width: 50ch;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    min-width: 100px;
    background: var(--light);
}


#nav{
    font-size: 1.25rem !important;
    font-weight: 600;
    z-index: 10;
}



nav ul {
    margin: 0;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: clamp(300px, 30%, 500px);
}

nav ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 1.1rem;
}

nav a{
    text-decoration: none !important;
    color: var(--dark) !important;
}

.space {
    height: 4.5rem;
}

header {
    height: 85vh;
    background-image: url('../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg');
    background-size: cover;
    display: grid;
    place-items: center;
}

header h1 {
    color: var(--dark);
    text-shadow: 4px 4px 10px var(--light) !important;
}

header button{
    margin-top: 6rem;
    padding: 0.5rem;
    width: clamp(300px, 30%, 500px);
    background-color: var(--green) !important;
    color: var(--light);
    
    font-weight: 500;
    font-size: 1.5rem !important;
    align-items: center;
}

section {
    width: 100%;
}

.boot{
    margin: 0 auto;
    min-width: 320px;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.boot-reverse{
    flex-direction: row-reverse !important;
}
.boot>* {
    padding: 4rem;
    min-width: 4rem;
    margin: 1rem;
}

@media screen and (max-width: 110px) {
    .boot>* {
        padding: 0 2rem;
        min-width: 4rem;
        margin: 1rem;
    }
}
@media screen and (max-width: 1360px) {
    .boot>* {
        padding:2rem;
        min-width: 4rem;
        margin: 1rem;
    }
}

.boot-image img {
    width: 16rem;
}

#snow {
    background: var(--light);
}
#forest{
    background: var(--green);
    color: var(--light);
}
#farm {
    background: var(--brown);
    color: var(--light);
}
#street{
    background: var(--dark);
    color: var(--light) !important;
}
#water {
    background: var(--marine);
    color: var(--light);
}
#footer{
    margin: 0;
    padding-top: 1rem;
    height: 7rem;
    background: var(--light) !important;
    font-size: 1.1rem;
    line-height: 1rem;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    
    overflow: hidden;
}



h1 {
    color: var(--dark);
}
.page-title {
    padding: 3rem;
}

@media screen and (max-width: 1440px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr !important;
        gap: 2rem !important;
    }
}

@media screen and (max-width: 880px) {
    .products {
        grid-template-columns: 1fr 1fr !important;
        gap: 1rem !important;
    }
    
    .product-body, .product-img{
        width: 95% !important;
    }

    div.product-details, div.image-container {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        align-items: center;
        overflow: hidden;
        max-width: 35rem;
    }
    #product-container {
        justify-content: center;
        overflow: hidden;
    }
    
}
@media screen and (max-width: 500px) {
    .products {
        grid-template-columns: 1fr !important;
        gap: 1rem !important;
    }
}

.products {
    position: static;
    z-index: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: space-between;
    gap: 3rem;
}

.card {
    max-width: 100%;
    z-index: 0;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 40ch;
    color: var(--marine);
    text-decoration-color:  var(--marine);
}

.card-body span{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

.card a[href^="product"]{
    color: var(--marine);
}

.card-body a[href^="trolley"], .product-body a[href^="trolley"] {
    background-color: var(--green) !important;
    width: 100% !important;
}

.card-body p {
    margin-bottom: 0;
}

p.card-text {
    margin-bottom: 1rem;
}

.card-img-top{
    float: left;
    width:  100px;
    height: 300px;
    object-fit: cover;
}

.product-img {
    
    width:  80%;
    max-height: 30rem;
    object-fit: cover;
}
.image-container {
    width: 50% !important;
    min-width: 22rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.product-body{
    width: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;    
}

.product-details{
    width: 50% !important;
    min-width: 22rem;
    display: grid; 
    place-items: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    
}

.line-item {
    display: flex;
    align-items: center;
}

#checkbox {
    display: grid !important;
    place-items: center !important;
}